[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/theturboturnip/imgui.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/theturboturnip/flatbuffers.git
